@charset "UTF-8";
.l-header {
  position: relative;
  z-index: 30;
  display: none;
  align-items: center;
}
.l-header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 1050px) {
  .l-header__nav {
    height: 55px;
  }
}
.l-header__img {
  width: 40px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  padding: 10px 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.l-header__navBox, .l-header__btn {
  display: flex;
}
.l-header__navList {
  width: 100%;
  position: absolute;
  top: 25px;
}
@media screen and (max-width: 1050px) {
  .l-header__navList {
    display: none;
  }
}
.l-header__navItem {
  width: 100%;
  display: flex;
  justify-content: center;
}
.l-header__navLink {
  font-size: 15px;
  margin-left: 0;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .l-header__navLink {
    margin-left: 15px;
  }
}
.l-header__navLink a {
  padding: 0 17px;
}
.l-header__navLink:hover {
  color: #BFBFBF;
}
.l-header__navLang {
  position: relative;
  margin: 0 2em 0 0;
  width: 80px;
}
.l-header__langList {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: -12px;
  left: 0;
  text-align: center;
  cursor: pointer;
}
.l-header__navLang::after {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #707070;
  pointer-events: none;
  transform: translateY(-50%);
  margin-top: 2px;
}
.l-header__langList dt {
  padding: 2px 0;
  color: #fff;
}
.l-header__langList dd {
  display: none;
  padding: 5px 0;
  color: #fff;
}
.l-header__langList span {
  color: #BFBFBF;
}
.l-header__langList dd li + li {
  margin-top: 2px;
}
.l-header__textBox {
  width: 180px;
  height: 72px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .l-header__textBox {
    height: 60px;
  }
}
.l-header__text {
  font-size: 20px;
  padding-top: 20px;
}
@media screen and (max-width: 1050px) {
  .l-header__text {
    padding-top: 12px;
  }
}
.l-header__text, .l-header__langJp {
  color: #fff;
}
.l-header__textBox:hover {
  background-color: gray;
}
.l-header__btn {
  position: relative;
  z-index: 30;
}
.l-header__boarder {
  position: relative;
  height: 60px;
  width: 75px;
  display: none;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 30;
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .l-header__boarder {
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__boarder span {
    position: absolute;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: black;
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
    margin: 12px;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__boarder span:nth-of-type(1) {
    top: 8px;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__boarder span:nth-of-type(2) {
    bottom: 7px;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__boarder.js-bolder span:nth-of-type(1) {
    top: 18px;
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 1050px) {
  .l-header__boarder.js-bolder span:nth-of-type(2) {
    top: 18px;
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 1050px) {
  .l-header__navList {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__navLang {
    display: none;
  }
}
.l-header__menu {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  border: 20px solid #EAEAEA;
  width: 100%;
  height: 100vh;
  padding: 40px;
  color: #fff;
  height: 100%;
  display: none;
  background-color: #464646;
  box-sizing: border-box;
  flex-wrap: wrap;
}
@media screen and (max-width: 1050px) {
  .l-header__menu.js-active {
    display: block;
    transition: 0.1s;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuBox1 {
    padding-top: 200px;
    max-width: initial;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__box1 {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__box1 div {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__box2 {
    display: flex;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__box2 div {
    display: inline-block;
    margin-right: 2em;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__boxInner div {
    width: 200px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuBox2 {
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__box2 a {
    color: #BFBFBF;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuList1, .l-header__menuList2 {
    display: flex;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuList2 div {
    margin-right: 30px;
    color: #BFBFBF;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuItem {
    margin-right: 150px;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuLink {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuLink, .l-header__menuText {
    color: #fff;
    font-size: 15px;
  }
}
@media screen and (max-width: 1050px) {
  .l-header__menuLang {
    margin-top: 100px;
  }
}

/* header部分に背景色が付いたら文字色切替 */
.js-textColor {
  color: gray;
}

.js-langColor.l-header__langList dt, .js-langColor.l-header__langList dd {
  color: gray;
}

/* メインページがheader部分までスクロールされた時の表示切り替え */
.js-appear {
  display: none;
}

.l-main {
  padding-top: 80px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.l-main__concept {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.l-main__concept p {
  text-align: center;
}
.l-main__img {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
}
.l-main__imgBox {
  background-image: url("../images/bed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.l-main__logoBox {
  position: absolute;
  left: 100px;
  bottom: 100px;
  display: none;
}
@media screen and (max-width: 780px) {
  .l-main__logoBox {
    left: 70px;
  }
}
.l-main__logoImg {
  width: 160px;
  height: auto;
}
.l-main__arrow {
  bottom: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: none;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.l-main__arrowImg {
  width: 15px;
  height: 70px;
}
.l-main__title {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
}
.l-main__conceptText {
  color: gray;
  font-size: 1.1rem;
  font-weight: bolder;
}
.l-main__content {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  top: 100vh;
  background-color: #fff;
}
.l-main__conceptMessage {
  color: gray;
  font-size: 15px;
}

.l-footer {
  width: 100%;
  height: 450px;
  background-color: #fff;
}
.l-footer__box {
  padding: 80px 10px 0 20px;
}
.l-footer__logoImg {
  display: flex;
  justify-content: space-between;
}
.l-footer__img {
  width: 250px;
  height: auto;
}
.l-footer__img1 {
  width: 40px;
  height: 80px;
}
.l-footer__img1:hover {
  opacity: 0.5;
}
.l-footer__addText, .l-footer__listLink {
  color: gray;
}
.l-footer__inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 780px) {
  .l-footer__inner {
    display: block;
    margin-bottom: 30px;
  }
}
.l-footer__addText, .l-footer__inner a {
  font-size: 15px;
}
.l-footer__list {
  display: flex;
}
@media screen and (max-width: 780px) {
  .l-footer__list {
    display: none;
  }
}
.l-footer__listBox {
  display: block;
}
.l-footer__listItem {
  margin-right: 50px;
}
.l-footer__listLink {
  margin-bottom: 10px;
}
.l-footer__listLink:hover {
  color: black;
}
.l-footer__copyLight span {
  color: gray;
}
.l-footer__copyLight span {
  font-size: 12px;
}

.c-noteBtn {
  width: 280px;
  margin: 0 auto;
  padding-top: 80px;
}
.c-noteBtn__box {
  border: 1px solid gray;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.c-noteBtn__box:hover {
  background-color: gray;
}
.c-noteBtn__text {
  color: gray;
  font-size: 10px;
  padding: 10px;
  padding: 12px;
}
.c-noteBtn__text:hover {
  color: #fff;
}

.c-btn {
  width: 220px;
  margin: 0 auto;
}
@media screen and (max-width: 780px) {
  .c-btn {
    width: 300px;
    margin: 0 auto;
  }
}
.c-btn__box {
  border: 1px solid gray;
  height: 55px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .c-btn__box {
    height: 50px;
  }
}
.c-btn__box:hover {
  background-color: gray;
}
.c-btn__text {
  color: gray;
  font-size: 15px;
  padding: 14px 11px;
}
@media screen and (max-width: 780px) {
  .c-btn__text {
    padding: 11px 11px;
  }
}
.c-btn__text:hover {
  color: #fff;
}

.p-content {
  padding-top: 100px;
}
@media screen and (max-width: 780px) {
  .p-content {
    margin: 0 auto;
  }
}
.p-content__title {
  font-size: 1.5rem;
  margin-bottom: 3em;
  text-align: center;
  color: gray;
}
.p-content__box {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 780px) {
  .p-content__box {
    display: block;
  }
}
.p-content__box, .p-content__access {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 780px) {
  .p-content__box, .p-content__access {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.p-content__box, .p-content__access {
  padding: 0 10px 0 10px;
}
.p-content__box .p-content__itemBox {
  width: 50%;
}
.p-content__box .p-content__textBox {
  padding-right: 40px;
}
.p-content__itemBox, .p-content__mapBox {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.p-content__img, .p-content__map {
  filter: grayscale(100%);
}
.p-content__textBox {
  color: gray;
}
.p-content__imgBox img {
  width: 500px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 780px) {
  .p-content__imgBox img {
    width: 100%;
    height: auto;
  }
}
.p-content__sabTitle {
  font-size: 1.2rem;
  margin-bottom: 3em;
}
@media screen and (max-width: 780px) {
  .p-content__sabTitle {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
.p-content__map {
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 780px) {
  .p-content__map {
    width: 100%;
    height: 500px;
  }
}
@media screen and (max-width: 780px) {
  .p-content__link {
    font-size: 1rem;
  }
}
.p-content__linkBox a:hover {
  color: black;
}
.p-content__linkBox a {
  padding-right: 1.5em;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.p-content__linkBox a::after {
  content: "→";
  position: absolute;
  top: 0px;
  right: 0px;
}

/* スクロールで画像の色切り替え */
.js-grayscale {
  filter: none;
  transition: 5s;
}

.u-mgTop20 {
  margin-top: 20px;
}

.u-mgTop30 {
  margin-top: 30px;
}

.u-mgTop40 {
  margin-top: 60px;
}

.u-mgTop80 {
  margin-top: 80px;
}

.u-pdTop100 {
  padding-top: 100px;
}

.u-textAlign {
  text-align: center;
}

/*// ==========================================================================
// Layout
// ==========================================================================*/
/*// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------*/
/*// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------*/
/*// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------*//*# sourceMappingURL=app.css.map */