html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}

dd, dt, li, p {
    line-height: 1.8;
}

a{
    cursor: pointer;
}

/* メインページがheader部分までスクロールされたら背景を白にする */
.js-background {
    background-color: #fff;
    transition: 0.3s;
}

/* メインページがheader部分までスクロールされた時の色切替 */
.js-triangle.l-header__navLang::after {
    border-top-color: #fff;
}

/* ご予約 / 料金-コピーアイコンの装飾 */
.fa-clone {
    margin-left: 5px;
}

/* ドロップダウンメニューの背景色 */
.js-listBackground {
    background-color: #fff;
}

.js-hover:hover {
    color: black;
}

@media screen and (min-width: 1051px) {
    /* メインページがheader部分までスクロールされたらheader部分に下線をつける*/
    .js-background {
        border-bottom: 1px solid gainsboro;
    }

}
