.l-footer {
    width: 100%;
    height: 500px;
    background-color: #fff;

    &__box {
        padding: 80px 50px 0 60px;
    }

    &__logoImg {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 250px;
        height: auto;
    }

    &__img1 {
        width: 40px;
        height: 80px;
    }

    &__img1:hover {
        opacity: 0.5;
    }

    &__addText, &__listLink  {
        color: gray;
    }

    &__inner, &__list  {
        display: flex;
    }

    &__inner {
        justify-content: space-between;
    }

    &__addText, &__inner a {
        font-size: 15px;
    }

    &__listItem {
        margin-right: 50px;
    }

    &__listLink {
        margin-bottom: 10px;
    }

    &__listLink:hover {
        color: black;
    }

    &__copyLight span {
        color: gray;
    }

    &__copyLight span {
        font-size: 12px;
    }

}