.l-header {
    position: relative;
    z-index: 30;
    display: none;
    align-items: center;

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__img {
        width: 40px;
        height: auto;
        object-fit: cover;
        display: block;
        padding: 10px 24px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__navBox, &__btn {
        display: flex;
    }

    &__navList {
        display: none;
    }

    &__navItem {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__navLink {
        font-size: 15px;
        margin-left: 15px;
        color: #fff;
    }

    &__navLink:hover {
        color: #BFBFBF;
    }

    &__textBox {
        width: 180px;
        height: 60px;
        background-color: black;
        text-align: center;
    }

    &__text {
        font-size: 20px;
        padding-top: 12px;
    }

    &__text, &__langJp {
        color: #fff;
    }

    &__textBox:hover {
        background-color: gray;
    }

    &__btn {
        position: relative;
        z-index: 30;
    }

    &__boarder {
        position: relative;
        height: 60px;
        width: 75px;
        display: block;
        box-sizing: border-box;
        background-color: #fff;
        z-index: 30;
    }

    &__boarder span {
        position: absolute;
        left: 0;
        height: 2px;
        width: 50px;
        background-color: black;
        border-radius: 2px;
        display: block;
        box-sizing: border-box;
        margin: 12px;
    }

    &__boarder span:nth-of-type(1) {
        top: 8px;
    }

    &__boarder span:nth-of-type(2) {
        bottom: 7px;
    }

    &__boarder.js-bolder span:nth-of-type(1) {
        top: 18px;
        transform: rotate(45deg);
    }

    &__boarder.js-bolder span:nth-of-type(2) {
        top: 18px;
        transform: rotate(-45deg);
    }

    &__navLang {
        display: none;
    }


    &__menu {
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        border: 20px solid #EAEAEA;
        width: 100%;
        height: 100vh;
        padding: 40px;
        color: #fff;
        height: 100%;
        display: none;
        background-color: #464646;
        box-sizing: border-box;
        flex-wrap: wrap;
    }


    &__menu.js-active {
        display: block;
        transition: 0.1s;
    }

    &__menuBox1 {
        padding-top: 200px;
        max-width: initial;
    }

    &__box1 {
        display: flex;
        justify-content: space-between;
    }

    &__box1 div {
        width: calc(100% / 3);
    }

    &__box2 {
        display: flex;
    }

    &__box2 div {
        display: inline-block;
        margin-right: 2em;
    }


    &__boxInner div {
        width: 200px;
        margin-bottom: 20px;
    }

    &__menuBox2 {
        position: absolute;
        bottom: 50px;
        left: 40px;
        width: calc(100% - 80px);
        display: flex;
        justify-content: space-between;
    }

    &__box2 a {
        color: #BFBFBF;
    }

    &__menuList1, &__menuList2 {
        display: flex;
    }

    &__menuList2 div {
        margin-right: 30px;
        color: #BFBFBF;
    }

    &__menuItem {
        margin-right: 150px;
    }

    &__menuLink {
        margin-top: 20px;
    }

    &__menuLink, &__menuText {
        color: #fff;
        font-size: 15px;
    }

    &__menuLang {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1051px) {
    .l-header {
        position: relative;

        &__boarder {
            display: none;
        }
    
        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    
        &__img {
            width: 40px;
            height: auto;
            object-fit: cover;
            display: block;
            padding: 10px 24px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__navList, &__navLang {
            display: block;
        }
    
    
        &__navBox {
            display: flex;
        }
    
        &__navList {
            width: 100%;
            position: absolute;
            top: 25px;
        }
    
        &__navItem {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    
        &__navLink {
            font-size: 15px;
            color: #fff;
        }

        &__navLink a {
            padding: 0 17px;
        }
    
        &__navLink:hover {
            color: #BFBFBF;
        }
    
        &__navLang {
            position: relative;
            margin: 0 2em 0 0;
            width: 80px;
        }
    
        &__langList {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            top: -12px;
            left: 0;
            text-align: center;
        }


        &__navLang::after {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 0;
            height: 0;
            content: '';
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #707070;
            pointer-events: none;
            transform: translateY(-50%);
        }
    
        &__langList dt {
            padding: 2px 0;
            color: #fff;
        }
    
        &__langList dd {
            display: none;
            padding: 5px 0;
            color: #fff;
        }
    
        &__langList span {
            color: #BFBFBF;
        }
    
        &__langList dd li+li {
            margin-top: 2px;
        }
    
        &__textBox {
            width: 180px;
            height: 72px;
            background-color: black;
            text-align: center;
        }
    
        &__text {
            font-size: 20px;
            padding-top: 20px;
        }
    
        &__text, &__langJp {
            color: #fff;
        }
    
        &__textBox:hover {
            background-color: gray;
        }
    }

    /* header部分に背景色が付いたら文字色切替 */
    .js-textColor {
        color: gray;
    }

    .js-langColor.l-header__langList dt, .js-langColor.l-header__langList dd{
        color: gray;
    }

    /* メインページがheader部分までスクロールされた時の表示切り替え */
    .js-appear {
        display: none;
    }
}