@use "../mixin" as m;


.p-content {
    padding-top: 100px;

    @include m.media(sp) {
        margin: 0 auto;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 3em;
        text-align: center;
        color: gray;
    }

    &__box {
        display: flex;
        flex-direction: row-reverse;

        @include m.media(sp) {
            display: block;
        }
    }


    &__box, &__access {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;

        @include m.media(sp) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    &__box, &__access {
        padding: 0 10px 0 10px;
    }

    &__box &__itemBox {
        width: 50%;
    }

    &__box &__textBox {
        padding-right: 40px;
    }

    &__itemBox, &__mapBox {
        max-width: 960px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__img, &__map {
        filter: grayscale(100%);
    }

    &__textBox {
        color: gray;
    }

    &__imgBox img {
        width: 500px;
        height: auto;
        object-fit: cover;

        @include m.media(sp) {
            width: 100%;
            height: auto;
        }
    }

    &__sabTitle {
        font-size: 1.2rem;
        margin-bottom: 3em;

        @include m.media(sp) {
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }

    &__map {
        width: 100%;
        height: 500px;

        @include m.media(sp) {
            width: 100%;
            height: 500px;
        }
    }

    &__link {
        @include m.media(sp) {
            font-size: 1.0rem;
        }
    }

    &__linkBox a:hover {
        color: black;
    }

    &__linkBox a {
        padding-right: 1.5em;
        position: relative;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    &__linkBox a::after {
        content: "→";
        position: absolute;
        top: 0px;
        right: 0px;
    }

}

/* スクロールで画像の色切り替え */
.js-grayscale {
    filter: none;
    transition: 5.0s;
}
